.blog-title {
    font-size: 4.4rem;
    font-family: Roboto;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 100vw;
    margin-left: -50vw;
    position: relative;
    left: 50%;
    text-align: center;
}

.blog-post-content {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}

@media (max-width: 768px) {
    .blog-post-content {
        max-width: 95%;
        padding: 40px;
    }
}

@media (max-width: 480px) {
    .blog-post-content {
        max-width: 100%;
        padding: 25px;
    }
}

