.projects-page-title {
    font-size: 4.4rem;
    font-family: Roboto;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 100vw;
    margin-left: -50vw;
    position: relative;
    left: 50%;
    text-align: center;
}

.projects-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
  }
  
  .projects-card {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .project-post-date {
    font-size: 0.9rem;
    color: #666;
  } 

  .projects-card h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  
  .projects-card p {
    font-size: 1.3rem;
    color: #555;
  }
  
  .check-it-out-button {
    background-color: #2fada1;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-right: 150px;
  }

  .github-button {
    background-color: #2fada1;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0.5rem;
  }
  
  .read-more-button:hover {
    background-color: #0056b3;
  }
  
  .blog-post-content {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
  }
  
  